* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.circle {
    position: relative;
    width: 600px;
    height: 600px;
    filter: url(#wavy);
}

.circle:before {
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border: 20px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(233, 229, 24), 
                inset 0 0 50px rgb(233, 229, 24);
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0002);
    animation: animate 5s linear infinite;
}

.circle:after {
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border: 20px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(233, 229, 24), 
                inset 0 0 50px rgb(233, 229, 24);
    
}

.circle:nth-child(2):before {
    animation-delay: -2.5s;
}

@keyframes animate {
    0%
    {
        box-shadow: 0 0 50px 233, 229, 24, inset 0 0 50px rgb(233, 229, 24);
        filter: hue-rotate(0deg);
        opacity: 50%;
    }
    20%
    {
        box-shadow: 0 0 60px 233, 229, 24, inset 0 0 60px rgb(233, 229, 24);
        filter: hue-rotate(360deg);
        opacity: 50%;
    }
    40%
    {
        box-shadow: 0 0 40px 233, 229, 24, inset 0 0 40px rgb(233, 229, 24);
        filter: hue-rotate(360deg);
        opacity: 50%;
    }
    60%
    {
        box-shadow: 0 0 80px 233, 229, 24, inset 0 0 80px rgb(233, 229, 24);
        filter: hue-rotate(360deg);
        opacity: 50%;
    }
    80%
    {
        box-shadow: 0 0 100px 233, 229, 24, inset 0 0 100px rgb(233, 229, 24);
        filter: hue-rotate(360deg);
        opacity: 50%;
    }
    100%
    {
        box-shadow: 0 0 50px 233, 229, 24, inset 0 0 50px rgb(233, 229, 24);
        filter: hue-rotate(360deg);
        opacity: 50%;
    }

}

svg {
    width: 0;
    height: 0;
}
