body {
    margin: 0;
    padding: 0;
    background: url('https://images4.alphacoders.com/121/1216458.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Cinzel', serif;
    }

    body h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(206, 175, 2);
    }

 



    #classesCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .classes-card {
    width: calc(25% - 20px);
    margin: 20px;
    padding: 10px;
    border: 1px solid #1f1e1e;
    background-color: #b3b1b1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
    opacity: 0.9;
    }

    .classes-card:hover {
    transform: scale(1.1);
    background-color: rgb(206, 175, 2);
    opacity: 1;
    }

    #imagewrapper {
    width: 300px;
    height: 300px;
    background-color: #181818;
    }

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: #fefefe;
    }