body {
margin: 0;
padding: 0;
background: url('https://cdn.discordapp.com/attachments/1143466306629271553/1161950923585753098/5S8Ipw6-gigapixel-art-scale-2_00x.jpeg?ex=653a2a20&is=6527b520&hm=4c1e2164546960f21b36b2b9ad34ac148870480ea7f472c9ef1442a58e1732ef&') no-repeat center center fixed;
background-size: cover;
font-family: 'Cinzel', serif;
}

body h1 {
display: flex;
justify-content: center;
align-items: center;
color: rgb(206, 175, 2);
}

.api-button {
padding: 10px 20px;
font-size: 16px;
transition: transform 0.2s ease;
margin-right: 50px;
background-color: rgb(206, 175, 2);
}

.api-button:hover {
transform: scale(1.1);
}

#bossCards {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.boss-card {
width: calc(25% - 20px);
margin: 20px;
padding: 10px;
border: 1px solid #1f1e1e;
background-color: #b3b1b1;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
opacity: 0.9;
}

.boss-card:hover {
transform: scale(1.1);
background-color: rgb(206, 175, 2);
opacity: 1;
}

#imagewrapper {
width: 300px;
height: 300px;
background-color: #181818;
}

img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
background-color: #fefefe;
}