body {
  margin: 0;
  padding: 0;
  background: url('https://cdn.discordapp.com/attachments/1143466306629271553/1161950923585753098/5S8Ipw6-gigapixel-art-scale-2_00x.jpeg?ex=653a2a20&is=6527b520&hm=4c1e2164546960f21b36b2b9ad34ac148870480ea7f472c9ef1442a58e1732ef&') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Cinzel', serif;
  }
  
  body h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(206, 175, 2);
  }
  
  .api-button {
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.2s ease;
  margin-right: 50px;
  background-color: rgb(206, 175, 2);
  }
  
  .api-button:hover {
  transform: scale(1.1);
  }

  .boss-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .boss-card img {
    max-width: 100px;
    height: auto;
  }

  .boss-card h2 {
    font-size: 18px;
    margin: 10px 0;
  }

  .boss-card p {
    margin: 5px 0;
  }

  .boss-card .regions {
    font-style: italic;
  }